<div class="offcanvas-button">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
        <h5>Edit Rankings</h5>
    </button>
    <div class="rankings-info">
        {{candidates.length}} candidates, {{rankings.length}} voters
    </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-body">
        <div>
            <button type="button" class="btn btn-primary back-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="bi bi-arrow-left"></i>
                Return
            </button>
            <div class="autosave-msg">
                <b><i class="bi bi-arrow-repeat refresh-icon"></i></b>
                All changes are automatically saved and results recalculated
            </div>
        </div>
        <app-add-rankings></app-add-rankings>
    </div>
</div>
