<div class="d-flex">
    <div class="me-auto p-2">
        <h1 class="display-3">How To Use This Website</h1>
    </div>
</div>
<div>
    <app-tile heading="Candidates, Voters and Rankings">
        In a election, there are multiple candidates. For example, an election may have 3 candidates: 
        <hl>Adam</hl>, <hl>Beth</hl> and <hl>Chris</hl>.
        <br>
        In a ranked voting system, each voter produces a ranking, which is their order of preference for the list of candidates.
        For example, if a voter believed <hl>Adam</hl> was the best candidate, <hl>Chris</hl> was their second choice, and
        <hl>Beth</hl> was their least preferred, they would give the ranking <hl>Adam, Chris, Beth</hl>.
    </app-tile>

    <app-tile heading="Voting Aggregation">
        Once all votes have been cast, there is a list of rankings.
        Suppose 6 voters ranked the candidates introduced above.
        The list of rankings produced may look like:
        <br><br>
        Voter 1: <hl>Adam, Chris, Beth</hl>,
        Voter 2: <hl>Chris, Beth, Adam</hl>,
        Voter 3: <hl>Beth, Adam, Chris</hl>,
        <br>
        Voter 4: <hl>Chris, Adam, Beth</hl>,
        Voter 5: <hl>Adam, Chris, Beth</hl>,
        Voter 6: <hl>Beth, Adam, Chris</hl>
        <br><br>
        So who won the election?
        <br><br>
        The challenge now is to determine the order of the candidates in the final standings, which should reflect the preferences of the voters as a whole.
        This may seem trivial at first, but there are many different algorithms used to accomplish this, each having advantages and disadvantages.

    </app-tile>

    <app-tile heading="Using the Application">
        This application allows you to input your own set of candidates and rankings 
        to compare how different preference aggregation algorithms work.
        <br><br>
        Begin by clicking the <button type="button" class="btn btn-primary" disabled>Edit Rankings</button>
        button on the sidebar, to edit the candidates and list of rankings.
        Rankings are input as a comma separated list containing each of the candidates names.
        The candidates and rankings can also be imported from a text file or generated randomly.
        <br><br>
        Once you are satisfied with the candidates and rankings, select an algorithm from the sidebar to run.
        Algorithms are run as soon as the page is loaded, using the rankings you have input.


    </app-tile>
</div>
    

