<app-alg title="Topological Ordering" link="topological">
    <app-tile heading="Majority Graph">
        <div class="graph-canvas">
            <div class="majority-graph" #majority></div>
            <div class="legend">
                <div *ngFor="let line of legend">
                    <b>{{line}}</b>
                </div>
        
            </div>
        </div>
    </app-tile>
    <app-tile heading="Results">
        <ng-template [ngIf]="numResults == 0">
            There is a cycle in the majority graph, therefore no Topological Ordering exists.
        </ng-template>
        <ng-template [ngIf]="numResults == 1">
            <div class="results-text">
                The unique topological ordering is
                <app-ranking [rankingString]="resultText"></app-ranking>
            </div>
        </ng-template>
        <ng-template [ngIf]="numResults > 1">
            A topological ordering is 
            <app-ranking [rankingString]="resultText"></app-ranking>
            There are {{results.length}} possible topological orderings.
        </ng-template>
    </app-tile>
    
</app-alg>

