.add-rankings-container {
    padding: 0px;
}

.rankings-upload-file {
    padding: 10px;
}

.candidate-input {
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 100%;
    background-color: #f8f9fa;
}

.ranking-input {
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 100%;
    background-color: #E7E7E7;
}

.ranking-input:focus, .candidate-input:focus {
    background-color: white;
}

.new-ranking-input, .new-candidate-input {
    padding: 10px;
    font-size: 20px;
    width: 100%;
}

.new-ranking-btn, .new-candidate-btn {
    padding: 8px;
    margin: 5px;
}

.new-random-btn {
    float: right;
    padding: 8px;
    margin: 5px;
}

.apply-file-btn {
    padding: 5px;
    margin: 10px 0px;
}

.remove-ranking-btn {
    margin: 10px
}

.ranking-input-label {
    padding: 10px;
    font-size: 20px;
}

.ranking-input-list {
    background-color: #E7E7E7;
    padding: 3px 10px;
    margin: 4px;
    border-radius: 6px;
}

.edit-candidates {
    background-color: #E7E7E7;
    padding: 30px;
    border-radius: 6px;
}

.quick-add-btn {
    padding: 0px 10px;
    margin: 15px 10px 5px;
}

.input-scroll {
    overflow: auto;
    height: 55vh;
}

.rankings-section {
    height: 70vh;
}

.random-input {
    width: 60px;
}

.random-checkbox {
    margin-left: 10px;
    margin-top: 7px;
}

.randomise-row {
    height: 30px;
    line-height: 30px;
    margin: 2px;
}