<div class="d-flex">
    <div class="me-auto p-2">
        <h1 class="display-3">About</h1>
    </div>
</div>
<div>
    <app-tile heading="The Project">
        I was intrigued by 
        <lnk link="https://en.wikipedia.org/wiki/Arrow%27s_impossibility_theorem">Arrow's impossibility theorem</lnk> 
        which states that for an election with at least 3 candidates, where voters are allowed to express their preferences 
        (<lnk link="https://en.wikipedia.org/wiki/Unrestricted_domain">Unrestricted Domain</lnk>),
        every voting system will fail to meet at least one of the following desirable criteria:
        <br><br>
        <li>
            <lnk link="https://en.wikipedia.org/wiki/Dictatorship_mechanism">Non-dictatorship</lnk>:
            There does not exist a single voter who solely decides on the outcome.
        </li>
        <li>
            <lnk link="https://en.wikipedia.org/wiki/Pareto_efficiency">Pareto efficiency</lnk>:
            If every voter prefers candidate A over candidate B, then the group ranks A before B.
        </li>
        <li>
            <lnk link="https://en.wikipedia.org/wiki/Independence_of_irrelevant_alternatives">Independence of irrelevant alternatives</lnk>:
            The groups preference between candidates A and B should not be affected by adding/removing candidate C from the election.
        </li>
        <br>
        Furthermore, <lnk link="https://en.wikipedia.org/wiki/Gibbard%27s_theorem">Gibbard's theorem</lnk>
        states that if a voting system is non-dictorial and there are more than two possible outcomes,
        the system must be susceptible to <lnk link="https://en.wikipedia.org/wiki/Tactical_voting">strategic voting</lnk>.
        This means that the best way for a voter to achieve their desired outcome might be
        to vote insincerely in order to sway the result in their favour.
        <br><br>
        In other words, every voting system is flawed, and so the question of which to use
        in a given situation is a difficult one.
        <br><br>
        Write about popular ranking as well
    </app-tile>

    <app-tile heading="Development">
        This website was developed in 2021/22 over 6 months by Ewan Chelley, as a final year project at the University of Glasgow.<br>
        Special thanks to Professor David Manlove for his invaluable guidance and support.
    </app-tile>

</div>

