<app-alg title="Popular Ranking" link="popular">
    <app-tile heading="Input ranking to test">
        <div>
            Enter a ranking to check whether it is weakly or strongly popular among the voters.
        </div>
        <div class="ranking-input-list">
            <div class="row">
                <div class="col-9">
                    <input class="new-ranking-input" [(ngModel)]="proposedString" placeholder="Enter ranking"
                        (keyup.enter)="checkProposed()" (blur)="checkProposed()">
                </div>
                <div class="col-1">
                    <button class="btn btn-secondary new-ranking-btn" (click)="checkProposed()">Calculate</button>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="horizontal">
                        <ng-container *ngFor="let candidate of candidates">
                            <button class="btn btn-secondary quick-add-btn" (click)="quickAdd(candidate)">{{ candidate }}</button>
                        </ng-container>
                    </div>
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary new-random-btn" (click)="tryRandom()">Test Random</button>
                </div>
            </div>
        </div>



    </app-tile>
    



    
    <div class="popular-results" *ngIf="showResults()">
        <app-tile [heading]="isWeaklyPopular() ? 'Weakly Popular' : 'NOT Weakly Popular'" [bg]="isWeaklyPopular() ? 'bg-green' : 'bg-red'">
            <div *ngIf="isWeaklyPopular(); else notWeaklyPopular">
                <div class="results-text">
                    No ranking exists that is preferred by more than half of the voters.
                </div>
                <br>
                <div class="results-text">
                    Therefore ranking
                </div>
                <app-ranking [rankingString]="formattedProposedString"></app-ranking>
                <div class="results-text">
                    is weakly popular.
                </div>
            </div>
            <ng-template #notWeaklyPopular>
                <div class="results-text">
                    The alternative ranking
                </div>
                <app-ranking [rankingString]="bestAltTextWeakly"></app-ranking>
                <div class="results-text">
                    is preferred by {{ bestScoreWeakly }} out of {{ rankings.length }} voters ({{round(1000 * (bestScoreWeakly / rankings.length))/10}}%).
                </div>
                <br>
                <div class="results-text">
                    Therefore ranking
                </div>
                <app-ranking [rankingString]="formattedProposedString"></app-ranking>
                <div class="results-text">
                    is NOT weakly popular.
                </div>
            </ng-template>
        </app-tile>
        <app-tile [heading]="isStronglyPopular() ? 'Strongly Popular' : 'NOT Strongly Popular'" [bg]="isStronglyPopular() ? 'bg-green' : 'bg-red'">
            <div *ngIf="isStronglyPopular(); else notStronglyPopular">
                <div class="results-text">
                    No ranking exists that is preferred by more than half of the <b>non-abstaining</b> voters.
                </div>
                <br>
                <div class="results-text">
                    Therefore ranking
                </div>
                <app-ranking [rankingString]="formattedProposedString"></app-ranking>
                <div class="results-text">
                    is strongly popular.
                </div>
            </div>
            <ng-template #notStronglyPopular>
                <div class="results-text">
                    The alternative ranking
                </div>
                <app-ranking [rankingString]="bestAltTextStrongly"></app-ranking>
                <div class="results-text">
                    is preferred by {{ bestPPStrongly }} out of the {{ bestPPStrongly + bestPNStrongly }} <b>non-abstaining</b> voters ({{round(1000 * (bestPPStrongly /
                    (bestPPStrongly + bestPNStrongly)))/10}}%).
                </div>
                <br>
                <ng-template [ngIf]="numAbstainingVoters() == 0">
                    <div class="results-text">
                        (All of the voters have a preference between
                    </div>
                </ng-template>
                <ng-template [ngIf]="numAbstainingVoters() == 1">
                    <div class="results-text">
                        (1 voter has no preference between
                    </div>
                </ng-template>
                <ng-template [ngIf]="numAbstainingVoters() > 1">
                    <div class="results-text">
                        ({{rankings.length - bestPPStrongly - bestPNStrongly}} voters have no preference between
                    </div>
                </ng-template>
                <app-ranking [rankingString]="formattedProposedString"></app-ranking>
                <div class="results-text"> and </div>
                <app-ranking [rankingString]="bestAltTextStrongly"></app-ranking>
                <div class="results-text">)</div>
                <br>
                <div class="results-text">
                    Therefore ranking
                </div>
                <app-ranking [rankingString]="formattedProposedString"></app-ranking>
                <div class="results-text">
                    is NOT strongly popular.
                </div>
            </ng-template>
        </app-tile>
    </div>
</app-alg>