<div class="d-flex">
    <div class="me-auto p-2"><h1 class="display-3">{{ title }}</h1></div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/{{link}}">
            <b>Run Algorithm</b>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/{{link}}/learn">
            <b>Learn</b>
        </a>
    </li>
</ul>

<div *ngIf="showNoRankings(); else checkCandidates">
    <app-tile heading="No Voters!">
        Click the <hl bg="blue">Edit Rankings</hl> button to add some voters.
    </app-tile>
</div>
<ng-template #checkCandidates>
    <div *ngIf="showNoCandidates(); else showContent">
        <app-tile heading="No Candidates!">
            Click the <hl bg="blue">Edit Rankings</hl> button to add some candidates.
        </app-tile>
    </div>
    <ng-template #showContent>
        <ng-content></ng-content>
    </ng-template>
</ng-template>

