<app-alg title="Kemeny Consensus" link="kemeny">
    <app-tile heading="Results">
        The ranking <hl>{{this.svc.convertToString(kemenyConsensus)}}</hl> is a Kemeny Consensus, 
        with a Kemeny score of {{ kemenyScore}}
        <br>
        The average Kendall distance to a voter from this ranking is {{round(10 * (kemenyScore / rankings.length))/10}}
    </app-tile>

    <app-tile heading="Kendall Distances">
        Below are the Kendall distances from the result (<hl>{{this.svc.convertToString(kemenyConsensus)}}</hl>) to each voters ranking:
        <br><br>
        <div class="col-4">
            <table class="results-table table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Voters Rankings</th>
                        <th scope="col">Kendall Distance</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ranking of rankings;let index = index;trackBy:trackByIndex;">
                        <th scope="row">
                            {{this.svc.convertToString(ranking)}}
                        </th>
                        <td>{{this.svc.kendall(ranking, kemenyConsensus)}}</td>
                        <td><a class="link-primary cursor" (click)="viewKendall(index)">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </app-tile>
</app-alg>
