<app-alg title="Kendall Distance" link="kendall">
    <div class="row">

        <div class="col-6">
            <app-tile heading="Rankings">
                <div class="row">

                    <div class="col-6 ranking-area">
                        <div class="row justify-content-center">
                            <h4>Ranking 1</h4>
                            <div [sortablejs]="kendallRankings[0]" class="list-group col-xs-6">
                                <div *ngFor="let item of kendallRankings[0]" class="kendall-option btn btn-light">
                                    <hl [bg]="getColorByName(item)" [kendallWidth]="true" >{{ item }}</hl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 ranking-area">
                        <div class="row justify-content-center">
                            <h4>Ranking 2</h4>
                            <div [sortablejs]="kendallRankings[1]" class="list-group col-xs-6">
                                <div *ngFor="let item of kendallRankings[1]" class="kendall-option btn btn-light">
                                    <hl [bg]="getColorByName(item)" [kendallWidth]="true">{{ item }}</hl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                Drag and drop to reorder candidates and recalculate Kendall distance.
            </app-tile>
        </div>
        
        <div class="col-6">
            <app-tile [heading]="'Kendall Distance = ' + kendall()">
                <div *ngIf="disagreements.length > 0; else noDisagreements">
                    Pairwise disagreements:<br>
                    <div *ngFor="let item of disagreements" class="disagreement">
                        <hl>{{ item[0] }}, {{ item[1] }}</hl>
                    </div>
                </div>
                <ng-template #noDisagreements>
                    No pairwise disagreements
                </ng-template>
            </app-tile>
        </div>
    </div>
    <div class="row">
        <app-tile heading="Kendall Distances to Candidates">
            Enter a ranking to calulate the Kendall distance to each voters ranking.
            <div class="ranking-input-list">
                <div class="row">
                    <div class="col-9">
                        <input class="new-ranking-input" [(ngModel)]="proposedString" placeholder="Enter ranking"
                            (keyup.enter)="checkProposed()" (blur)="checkProposed()">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-primary new-ranking-btn" (click)="checkProposed()">Calculate</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="horizontal">
                            <ng-container *ngFor="let candidate of candidates">
                                <button class="btn btn-primary quick-add-btn" (click)="quickAdd(candidate)">{{ candidate }}</button>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary new-random-btn" (click)="tryRandom()">Use Random</button>
                    </div>
                </div>
            </div>
        </app-tile>
    </div>
    <div class="row" *ngIf="showResults()">
        <app-tile heading="Kendall Distances">
            Below are the Kendall distances from the ranking <hl>{{formattedProposedString}}</hl> to each
            voters ranking:
            <br><br>
            <div class="col-4">
                <table class="results-table table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Voter #</th>
                            <th scope="col">Ranking</th>
                            <th scope="col">Kendall Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ranking of votersRankings;let index = index;trackBy:trackByIndex;">
                            <th>{{index + 1}}</th>
                            <th scope="row">
                                {{this.svc.convertToString(ranking)}}
                            </th>
                            <td>{{this.svc.kendall(ranking, proposed)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </app-tile>
    </div>

</app-alg>



    
