<app-alg title="Kendall Distance" link="kendall">
    <div class="row">

        <div class="col-6">
            <app-tile heading="Rankings">
                <div class="row">

                    <div class="col-6 ranking-area">
                        <div class="row justify-content-center">
                            <h4>Ranking 1</h4>
                            <div [sortablejs]="rankings[0]" class="list-group col-xs-6">
                                <div *ngFor="let item of rankings[0]" class="kendall-option btn btn-light">
                                    <hl [bg]="getColorByName(item)" [kendallWidth]="true" >{{ item }}</hl>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 ranking-area">
                        <div class="row justify-content-center">
                            <h4>Ranking 2</h4>
                            <div [sortablejs]="rankings[1]" class="list-group col-xs-6">
                                <div *ngFor="let item of rankings[1]" class="kendall-option btn btn-light">
                                    <hl [bg]="getColorByName(item)" [kendallWidth]="true">{{ item }}</hl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                Drag and drop to reorder candidates and recalculate Kendall distance.
            </app-tile>
        </div>
        
        <div class="col-6">
            <app-tile heading="Kendall Distance">
                Kendall distance: {{ kendall() }}
            </app-tile>
        </div>
    </div>

</app-alg>



    
