.tile {
    margin: 30px 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 3px;
    padding: 20px;
}

.bg-red {
    background-color: #ed7b7b;
}

.bg-green {
    background-color: #7bed9a;
}