<div class="flex-shrink-0 p-3" style="width: 300px;">
    <a routerLinkActive="active" routerLink="/" class="d-flex mb-3 link-dark text-decoration-none">
        <span class="fs-5 fw-semibold">
            <h3>QuickVote</h3>
        </span>
    </a>
    <hr>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-sidebar align-items-center rounded collapsed" routerLinkActive="active"
                routerLink="/how-to-use">
                How To Use This Website
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-sidebar align-items-center rounded collapsed" routerLinkActive="active"
                routerLink="/about">
                About
            </button>
        </li>
        <hr>
        <li class="mb-1">
            <div class="p-2">
                <app-ranking-offcanvas></app-ranking-offcanvas>
            </div>
        </li>
        <hr>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#algs-collapse" aria-expanded="true">
                Algorithms
            </button>
            <div class="collapse show" id="algs-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li *ngFor="let link of algLinks">
                        <a routerLinkActive="active" routerLink="/{{link[1]}}" class="link-dark rounded" [ngClass]="{'warn': this.svc.isDangerous(link[1])}">
                            {{link[0]}}
                            <i class="bi bi-exclamation-circle-fill warn icon" *ngIf="this.svc.isDangerous(link[1])"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
