<div class="flex-shrink-0 p-3 sidebar" style="width: 300px;">
    <a routerLinkActive="active" routerLink="/" class="d-flex mb-3 link-dark text-decoration-none">
        <span class="heading">
            <span class="heading-text first-half">
                Quick
            </span>
            <span class="heading-text second-half">
                Vote
            </span>
        </span>
    </a>
    <hr>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-sidebar align-items-center rounded collapsed" routerLinkActive="active"
                routerLink="/how-to-use">
                How To Use This Website
            </button>
        </li>
        <li class="mb-1">
            <button class="btn btn-sidebar align-items-center rounded collapsed" routerLinkActive="active"
                routerLink="/about">
                About
            </button>
        </li>
        <hr>
        <li class="mb-1">
            <div class="p-2">
                <app-ranking-offcanvas></app-ranking-offcanvas>
            </div>
        </li>
        <hr>
        <div class="alg-text">
            <h4>Algorithms</h4>
        </div>
        <li class="mb-1" *ngFor="let link of algLinks">
            <button class="btn btn-sidebar" routerLinkActive="active" routerLink="/{{link[1]}}" [ngClass]="{'warn': this.svc.isDangerous(link[1])}">
                {{link[0]}}
                <i class="bi bi-exclamation-circle-fill warn icon" *ngIf="this.svc.isDangerous(link[1])"></i>
            </button>
        </li>
    </ul>
    <div class="danger-text" *ngIf="dangerousLinkExists()">
        <i class="bi bi-exclamation-circle-fill warn icon"></i>
        Reduce the number of candidates or voters before running some algorithms
    </div>
</div>
