.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.btn-sidebar {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}

.btn-sidebar:hover,
.btn-sidebar:focus
 {
  color: rgba(0, 0, 0, .85);
  background-color: rgb(138, 43, 226, .20)
}

.scrollarea {
  overflow-y: auto;
}

.heading { 
  font-weight: 500; 
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
  opacity: 1;
  transition: all 200ms;
}

.heading:hover {
  opacity: 0.6;
}

.heading-text {
 float: left; 
}

.warn {
  color: red;
}

.icon {
  margin-left: 4px;
}

.first-half {
  color: rgb(138, 43, 226);
}

.second-half {
  color: rgb(0, 0, 255);
}

.alg-text {
  font-family: 'Open Sans', sans-serif;
  padding: 0rem .5rem;
}

.danger-text {
  font-family: 'Open Sans', sans-serif;
  padding: 0rem .5rem;
  font-size: 12px;
  color: red;
  position: relative;
}

.warn:hover {
  color:red;
}