<app-alg title="Borda Count" link="borda">

    <app-tile heading="How It Works">
        For each ranking, assign to each candidate a number of points equal to the number of candidates that are ranked lower.
        For example, for the ranking <app-ranking rankingString="B, A, C"></app-ranking>, 
        <app-ranking rankingString="B"></app-ranking> would gain 2 points, <app-ranking rankingString="A"></app-ranking> gains 1 and <app-ranking rankingString="C"></app-ranking> gains 0 points.
        These points are totalled across all rankings from voters to give a final score for each candidate.
        The final ranking of candidates is determined by these totals, with the highest placing first and the lowest coming last.
    </app-tile>

    <app-tile heading="Example">
        Given the candidates: <app-ranking rankingString="Joe"></app-ranking>, <app-ranking rankingString="Mary"></app-ranking> and <app-ranking rankingString="Tim"></app-ranking>,
        and the 5 rankings:
        <br><br>
        <app-ranking rankingString="Joe, Tim, Mary"></app-ranking>
        <br>
        <app-ranking rankingString="Tim, Mary, Joe"></app-ranking>
        <br>
        <app-ranking rankingString="Tim, Mary, Joe"></app-ranking>
        <br>
        <app-ranking rankingString="Mary, Joe, Tim"></app-ranking>
        <br>
        <app-ranking rankingString="Tim, Mary, Joe"></app-ranking>
        <br><br>
        The following table can be constructed to tally the points earned by each candidate:
        <br>
        <table class="table table-striped" style="width: 50%">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">1st choice</th>
                    <th scope="col">2nd choice</th>
                    <th scope="col">3rd choice</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Joe</th>
                    <td>1 (2 points)</td>
                    <td>1 (1 points)</td>
                    <td>3 (0 points)</td>
                    <th>3</th>
                </tr>
                <tr>
                    <th scope="row">Mary</th>
                    <td>1 (2 points)</td>
                    <td>3 (3 points)</td>
                    <td>1 (0 points)</td>
                    <th>5</th>
                </tr>
                <tr>
                    <th scope="row">Tim</th>
                    <td>3 (6 points)</td>
                    <td>1 (1 points)</td>
                    <td>1 (0 points)</td>
                    <th>7</th>
                </tr>
            </tbody>
        </table>
        <br>
        <app-ranking rankingString="Tim"></app-ranking> 
        was ranked first choice 3 times (worth 6 points), second choice 1 time (worth 1 point) and last choice 1 time (worth 0 points).
        Therefore his total score is 7 points and he wins the election since this is higher than all other candidates.
    </app-tile>

    <app-tile heading="Evaluation">
        The borda count method is simple to implement and intends to choose candidates that are
        acceptable to a broad number of people rather than to find one that is preferred by a majority.

        <br><br>
        The system violates the <lnk link="https://en.wikipedia.org/wiki/Majority_criterion">majority constraint</lnk>
        as it is possible for a candidate to receive a majority of the first place votes and still not win the election.

        <br><br>

        The Borda method is also highly susceptible to <lnk link="https://en.wikipedia.org/wiki/Tactical_voting">strategic voting</lnk>.
        If voters intentionally rank their biggest competitors low on their preference list they can have a greater impact on the result than if they rank their preferences truthfully.
        In fact, if all voters vote strategically, the final result is very unlikely to reflect the true preferences of the voters.
        The Borda count also favours a candidate that runs alongside many similar candidates.
        
        <br><br>

        Click <lnk link="https://en.wikipedia.org/wiki/Borda_count">here</lnk> for more information about the Borda Count method.

    </app-tile>
</app-alg>
