<app-alg title="Plurality (First Past The Post)" link="plurality">

    <app-tile heading="How It Works">
        Only consider the first choice of each voter.
        Simply count the number of votes received by each candidate and rank them from highest to lowest number of votes.
    </app-tile>

    <app-tile heading="Example">
        Given the candidates: <hl>Smith</hl>, <hl>Jones</hl> and <hl>Wood</hl>,
        and the 4 rankings:
        <br><br>
        <hl>Smith, Jones, Wood</hl>
        <br>
        <hl>Smith, Wood, Jones</hl>
        <br>
        <hl>Jones, Smith, Wood</hl>
        <br>
        <hl>Wood, Jones, Smith</hl>
        <br><br>
        The second and third choice of each voter can be ignored.
        <hl>Smith</hl> wins since they have the most first-choice votes (2).
    </app-tile>

    <app-tile heading="Evaluation">
        Plurality voting is a very simple and widely used system.
        <br><br>
        The system is very susceptible to <lnk link="https://en.wikipedia.org/wiki/Tactical_voting">tactical voting</lnk>.
        Voters are incentivised to vote for one of the two candidates most likely to win, even if this is not their preferred choice,
        since votes for any other candidate are unlikely to have an impact on the outcome. 
        <br><br>
        Another disadvantage of the system is that multiple similar candidates are likely to split their distribution of the vote,
        reducing the chance that any of them can win.
        <br><br>
        
        Click <lnk link="https://en.wikipedia.org/wiki/Plurality_voting">here</lnk> for more information about the Plurality voting method.
    </app-tile>

</app-alg>
