<app-alg title="Instant Runoff" link="instant-runoff" [isLearn]="true">

    <app-tile heading="How It Works">
        Count the number of first-choice votes for each candidate.
        If any candidate has a majority, they win the election. 
        Otherwise, eliminate the candidate with the lowest number of first-choice votes
        (there are multiple different ways to deal with ties for last place. The algorithm implemented here selects the
        last candidate on the list for simplicity)
         and re-count first-choice votes on the remaining candidates.
        <br><br>
        Repeat the above steps with the new totals for each candidate (first-choice + runoff votes) until a candidate has a majority, at which point they win the election.
        
        
    </app-tile>

    <app-tile heading="Example">
        Given the candidates: <hl>Yellow</hl>, <hl>Blue</hl> and <hl>Red</hl>,
        and the 5 rankings:
        <br><br>
        <hl>Yellow, Blue, Red</hl>
        <br>
        <hl>Blue, Red, Yellow</hl>
        <br>
        <hl>Yellow, Blue, Red</hl>
        <br>
        <hl>Red, Yellow, Blue</hl>
        <br>
        <hl>Blue, Red, Yellow</hl>
        <br><br>
        <hl>Yellow</hl> and <hl>Blue</hl> each have 2 first-choice votes
        while <hl>Red</hl> has only 1. Since no candidate has a majority, <hl>Red</hl> is eliminated.
        <hl>Yellow</hl> gains an additional vote since the voter whose first choice was <hl>Red</hl>, voted for <hl>Yellow</hl> as their second choice.
        <br><br>
        Since <hl>Yellow</hl> now has a majority (3/5 votes), they win the election.
    </app-tile>

    <app-tile heading="Evaluation">
        In some voting systems, many votes are "wasted" since they go towards a candidate that had no chance of winning.
        Instant runoff voting avoids this problem by reassigning these votes to more competitive candidates.

        The instant runoff method is also one of the least susceptible to <lnk link="https://en.wikipedia.org/wiki/Tactical_voting">tactical voting</lnk>.

        <br><br>
        
        Click <lnk link="https://en.wikipedia.org/wiki/Instant-runoff_voting">here</lnk> for more information about Instant-runoff voting.
    </app-tile>

</app-alg>
